$width: 375px;
$background: #0B3157;
$font-family: 'Montserrat', sans-serif;
$text-transform: uppercase;

.flexWeekContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calendarWeek{
  display: flex;
  justify-content: space-around;
}

.header{
  width: 375px;
  height: 96px;
  background: #0B3157;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 100px auto;
  width: $width;
  height: 560px;
  border: 1px solid black;
}

.calendar{
  font-size: 40px;
  color: white;
}

.calendarNav{
  width: 375px;
  height: 40px;
  background: $background;
  @extend .flexWeekContainer;
}

.dateNav{
  color: #48C1C2;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-transform: $text-transform;
}

.btnMonth{
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 20px;
  text-transform: $text-transform;
  font-weight: 800;
  line-height: 19px;
}

.weekContainer{
  width: 375px;
  height: 20px;
  background: $background;
  @extend .flexWeekContainer;
}

.weekContainer h3{
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  opacity: 0.5;
}

.calendarContainer{
  width: 375px;
  height: 350px;

}

.week{
  @extend .calendarWeek;
}

.data{
  padding: 15px 15px;
}









